.todo {
    text-align : center;
    color : #fff;

    .header {

        .title, .subtitle {
            font-weight : 700;
        }
    
    }

    .task-panel {
        margin-top : 20px;
        color : #000;
        text-align : left;
    }

}